.inputCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputField,
.selectField {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputField > label,
.selectField > label {
  width: 80px;
  display: flex;
  justify-content: start;
}

.inputField > input,
.selectField > select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.inputField > button,
.selectField > button {
  width: 70px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
/*
.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField > label {
  width: 80px;
}

.inputField > input,
.selectField > select,
.inputField > button {
  width: calc(100% - 90px - 70px - 2rem);
  padding: 0.5rem;
  margin-left: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
.selectField > button {
  width: 70px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
*/
.saveBtn {
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.warning {
  display: none;
  font-size: x-small;
  color: orangered;
}

.on {
  display: block;
}
